
.container{
    max-width: 450px;
    margin: 0 auto;
    background-color: antiquewhite;
    text-align: center;
    font-family: 'Roboto', sans-serif;
       
}

table{
    width: 100%;
    border: 0;
    border-radius:5px;
    margin-bottom: 1px;
    padding: 10px 0px 10px 0px;
}
td,th{
    width: 80%;
    border: 0;
    border-radius:5px;
    margin-bottom: 4px;
    padding: 20px 20px 20px 50px;
    background: #59d6dfec;
      

}
button {
    display: relative;
    width: 40%;
    margin: 20px 0 5px 5px;
    background: #b2bbbe;
    color: white;
    border: 0;
    padding: 20px;
    font-size: 0.5rem;
}